<aside class="asideChat">
  <button type="button" id="autoBtn" onclick="onAuto()">
    <i class="fa-solid fa-comments"></i>
  </button>
  <a class="logo" href="/"><img src="../static/img/logo.png" /></a>
  <div class="chatList">
    <hr />
    <h3><i class="fa-solid fa-comment"></i> 채팅 리스트</h3>
    <ul id="chatList"></ul>
  </div>
</aside>
<!-- <div class="containerChat">
      <div class="chatView">채팅뷰</div>
    </div> -->
<script>
  var socket = io.connect();

  socket.on("chatlistUpdate", (data) => {
    var chatListUl = document.getElementById("chatList");
    var chatListLi = chatListUl.appndChild();
  }); //data: room_id

  function onAuto() {
    var button = $("#autoBtn i");
    var close = $("#autoBtn i").hasClass("fa-comments");
    var open = $("#autoBtn i").hasClass("fa-chevron-left");
    // <i class="fa-solid fa-chevron-left"></i>
    if (close) {
      button.addClass("fa-chevron-left");
      button.removeClass("fa-comments");
      $("aside").animate(
        {
          left: "0",
        },
        1000
      );
    } else {
      button.addClass("fa-comments");
      button.removeClass("fa-chevron-left");
      $("aside").animate(
        {
          left: "-280px",
        },
        1000
      );
    }
  }

  axios({
    url: "/chatlist",
    method: "get",
  }).then((result) => {
    const data = result.data.data;
    const others = result.data.others;
    const ul = document.querySelector("#chatList");
    for (let i = 0; i < data.length; i++) {
      const li = document.createElement("li");
      const a = document.createElement("a");
      a.textContent = others[i] + "님 과의 채팅";
      a.setAttribute("href", `/chatting/${data[i]}`);
      ul.append(li);
      li.append(a);
    }
  });
</script>
