<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./../static/css/style.css" />
    <link rel="stylesheet" href="./../static/css/main.css" />
  </head>
  <style>
    /*footer*/
    #footer {
      color: #fff;
      width: 100%;
      height: 300px;
      background-color: #694dd6;
    }
    #footer .footer-detail {
      display: flex;
      flex-direction: column;
    }
    .footer-adress {
      margin-right: 17px;
      display: inline-block;
    }
    .footer-detail li {
      margin-bottom: 7px;
    }
    .footer-title {
      padding: 48px 0;
    }
  </style>
  <body>
    <footer id="footer">
      <div class="container">
        <div class="footer-title">
          <span class="footer-adress">회사정보</span>
          <span class="footer-adress">소셜미디어</span>
        </div>
        <ul class="footer-detail">
          <li>
            (주)엠비팅아이 서울특별시 마포구 염리동길 6 (마포구,스프레틱스)
            대표자: E2I2
          </li>
          <li>
            사업자등록번호: 119-86-44136 통신판매업신고번호: 제
            2021-서울마포구-3643호
          </li>
          <li>문의전화: 010-8689-5012 문의메일: dhrekdo5@kakao.com</li>
          <li>©2022. MBTingI, Inc. All rights reserved.</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
